body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    h1 {
        color: #c14343 !important;
    }
    h2 {
        color: #d27c0b !important;
    }
    h3 {
        color: #cac24b !important;
    }
    h4 {
        color: #688558 !important;
    }
    h5 {
        color: #5e69c5 !important;
    }
    h6 {
        color: #8b56d0 !important;
    }
    a.is-unresolved {
        color: #a48f7d !important;
    }
}
